html, body {
  color: #888;
  font-family: 'Open Sans', sans-serif; }

h1, h2 {
  font-family: 'Cinzel', 'Open Sans', Tahoma, sans-serif; }

p {
  margin-top: 10px; }

section, h2 {
  clear: both; }

.header {
  overflow: hidden;
  height: 50px;
  background: #0066CC;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 2; }
  .header nav {
    float: right; }
    .header nav a {
      color: #fff;
      margin: 0 10px;
      line-height: 50px; }
  .header h1 {
    float: left;
    font-size: 28px;
    margin: 0;
    line-height: 50px; }

#content {
  background: #fff;
  margin-bottom: 200px;
  overflow: hidden; }
  #content p {
    text-transform: initial; }

/* choose key styles */
.space-holder {
  display: none;
  height: 250px; }

.sidebar {
  background: #fff;
  margin-top: 75px;
  position: fixed; }
  .sidebar h2 {
    font-size: 16px;
    margin: 0 0 10px !important; }
  .sidebar ul {
    list-style: none;
    overflow: hidden;
    padding: 0 30px; }
    .sidebar ul li {
      height: 30px;
      font-size: 15px;
      line-height: 28px;
      background-color: #fff;
      border: 1px solid #c3c3c3;
      margin: 0 9px 15px;
      width: 50px;
      float: left;
      cursor: pointer; }
      .sidebar ul li.active {
        background: red;
        color: #fff; }

/*results*/
.result {
  margin-bottom: 100px;
  overflow: hidden;
  text-align: center; }
  .result h2 {
    text-align: center;
    margin: 100px 0 20px; }

.result .position, .result .intervals, .result .notes, .result .maj-pent-pos, .result .min-pent-pos, .result .triad-position, .result .maj-chords, .result .min-chords {
  text-align: center;
  padding: 0; }
  .result .position li, .result .intervals li, .result .notes li, .result .maj-pent-pos li, .result .min-pent-pos li, .result .triad-position li, .result .maj-chords li, .result .min-chords li {
    list-style: none;
    display: inline-block;
    width: 70px;
    margin: 0 5px; }
    .result .position li:first-child, .result .intervals li:first-child, .result .notes li:first-child, .result .maj-pent-pos li:first-child, .result .min-pent-pos li:first-child, .result .triad-position li:first-child, .result .maj-chords li:first-child, .result .min-chords li:first-child {
      margin-left: 0; }
.result .intervals li {
  width: 70px;
  margin-left: 10px;
  display: inline-block;
  list-style: none;
  vertical-align: top; }
.result .notes li {
  font-size: 20px;
  height: 70px;
  background: #fff;
  border-radius: 35px;
  line-height: 70px;
  border: 1px solid #eee;
  font-weight: 300; }

.notes {
  min-height: 80px; }

.space {
  height: 80px; }

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  height: 200px;
  z-index: -1;
  width: 100%;
  background-color: #000;
  text-align: center; }
  footer h1 {
    color: #fff;
    padding-top: 65px;
    margin-top: 0; }
  footer nav {
    display: block;
    margin: 0 0 10px; }
    footer nav a {
      text-decoration: none;
      margin: 0 10px;
      color: #fff; }
      footer nav a:hover {
        color: red; }

/* Responsive */

/*# sourceMappingURL=overrides.css.map */
