html, body {
	color: #888;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 { font-family: 'Cinzel', 'Open Sans', Tahoma, sans-serif;}

p { margin-top: 10px; }

section, h2 { clear: both; }

header {
	height: 50px;
	background: #0066CC;
	color: white;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;

	nav {
		float: right;

		a {
			color: #fff;
			margin: 0 10px;
			line-height: 50px;

			&:hover {
				color: #fff;
			}
		}
	}

	h1 {
		float: left;
		font-size: 28px;
		margin: 0 0 0 10px;
		line-height: 50px;
	}
}

#content {
	background: #fff;
	margin-bottom: 200px;
	margin-top: 50px;
	min-width: 1100px;
	overflow: hidden;
	z-index: 1;

	p { text-transform: initial; }
}


/* choose key styles */

.space-holder {
	display: none;
	height: 250px;
}

.choose-key {
	background: #fff;
	height: 72px;
	margin-top: 30px;

	h2 {
		font-size: 16px;
		margin: 0 0 10px !important;
		text-align: center;
	}

	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		text-align: center;

		li {
			height: 30px;
			font-size: 15px;
			line-height: 28px;
			background-color: #fff;
			border: 1px solid #c3c3c3;
			margin: 0 8px 15px;
			width: 50px;
			display: inline-block;
			cursor: pointer;

			&.active {
				background: red;
				border: 1px solid red;
				color: #fff;
				transition: background 300ms ease-out;

				&:hover { background: red; }
			}

			&:hover {
				background: #c3c3c3;
				color: #fff;
				transition: background 300ms ease-out;
			}
		}
	}
}


/*results*/

.result {
	margin-bottom: 100px;
	overflow: hidden;
	text-align: center;

	h2 {
		text-align: center;
		margin: 50px 0 20px;
	}
}

.result {
	.position, .intervals, .notes, .maj-pent-pos, .min-pent-pos, .triad-position, .maj-chords, .min-chords {
		text-align: center;
		padding: 0;

		li {
			list-style: none;
			display: inline-block;
			width: 70px;
			margin: 0 15px;

			&:first-child { margin-left: 0; }
		}
	}

	.intervals li {
		width: 70px;
		margin-left: 10px;
		display: inline-block;
		list-style: none;
		vertical-align: top;
	}

	.notes li {
		font-size: 20px;
		height: 70px;
		background: #fff;
		border-radius: 35px;
		line-height: 70px;
		border: 1px solid #eee;
		font-weight: 300;
	}

	.notes.chords li {
		border-radius: 0;
	}
}

.notes { min-height: 80px; }

.space { height: 80px;}


 /* Footer */

footer {
	position: fixed;
	bottom: 0;
	height: 200px;
	z-index: -1;
	width: 100%;
	background-color: #000;
	text-align: center;

h1 {
 	color: #fff;
 	padding-top: 65px;
 	margin-top: 0;
 }

  nav {
 	  display: block;
 	  margin: 0 0 10px;

	  a {
	 	  text-decoration: none;
      margin: 0 10px;
	 	  color: #fff;

		  &:hover {
			  color: red;
		  }
	  }
  }
}

.fixed {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 3px !important;
	z-index: 10;

	li { margin-bottom: 5px !important; }
}


/* Responsive */

@media (max-width: 990px) {
	// header a.shelf {
	// 	display: block;
	// }

	//.col-md-3 { position: static; }

	// .sidebar {
	// 	display: none;
	// 	margin: 0;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	z-index: 1000;

//		a {
//			border-bottom-width: 0;
//			overflow: hidden;
//			height: 0;
//			line-height: 0;
//			padding: 0 1em;
//		}

		// &:target {
		// 	margin-top: 0;
		// 	padding-top: 50px;
	// 		display: block;
	// 		z-index: 2;
	// 		background: none;

	// 		a {
	// 			position: absolute;
	// 			top: 40px;
	// 			height: 35px;
	// 			color: #000;
	// 			left: 0;
	// 		}

	// 		h2 { display: none; }

	// 		ul { background: #fff; }
	// 	}
	// }
}
