.patterns h1 {
	text-align: center;
	display: block;
	margin: 40px 0;
}

.fretboard-chunks {
	position: relative; 
	overflow: hidden; 
}

.fretboard {
	position: relative;
	float: left;
	width: 185px;
	margin: 0 3px;
}

.fretboard h2 {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}

section {
	width: 960px;
	margin: 0 auto;	
}

section h2 {
	text-align: center;
	font-size: 18px;
}

section p {
	text-align: center;
	font-size: 14px;
}

.note {
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 10px;
	position: absolute;
	top: 0;
}

.pos1 .note1 {
	top: 68px;
	left: 32px;
}

.pos1 .note2 {
	top: 110px;
	left: 123px;
}

.pos2 .note1 {
	top: 110px;
	left: 32px;
}

.pos2 .note2 {
	top: 82px;
	left: 125px;
}

.pos3 .note1 {
	top: 82px;
	left: 32px;
}

.pos3 .note2 {
	top: 124px;
	left: 160px;
}

.pos3 .note3 {
	top: 54px;
	left: 160px;
}

.pos4 .note1 {
	top: 124px;
	left: 32px;
}

.pos4 .note2 {
	top: 54px;
	left: 32px;
}

.pos4 .note3 {
	top: 96px;
	left: 130px;
}

.pos5 .note1 {
	top: 96px;
	left: 32px;
}

.pos5 .note2 {
	top: 68px;
	left: 165px;
}

.fretboard-whole {
	position: relative;
}

.fretboard-whole .note1 {
	top: 43px;
	left: 95px;
}

.fretboard-whole .note2 {
	top: 85px;
	left: 235px;
}

.fretboard-whole .note3 {
	top: 57px;
	left: 375px;
}

.fretboard-whole .note4 {
	top: 29px;
	left: 585px;
}

.fretboard-whole .note5 {
	top: 99px;
	left: 585px;
}

.fretboard-whole .note6 {
	top: 71px;
	left: 725px;
}

.fretboard-whole .note7 {
	top: 43px;
	left: 930px;
}