.notes {
  position: absolute;
  top: 20px;
}

.fretboard-whole {
  overflow: hidden;
  position: relative;
}

/*95*/
.fretboard-whole .note1a {
  left: -745px;
}

/*235*/
.fretboard-whole .note2a {
  left: -605px;
}

/*375*/
.fretboard-whole .note3a {
  left: -465px;
}

/* 585*/
.fretboard-whole .note4a, .fretboard-whole .note5a {
  left: -255px;
}

/*725*/
.fretboard-whole .note6a {
  left: -115px;
}

.fretboard-whole .note2b {
  left: 1072px;
}

.sidebar {
  position: relative;
  width: auto;
  margin-top: 10px;
}

.sidebar ul li {
  width: 60px;
  text-align: center;
}

.fret-num {
  list-style: none;
  margin: -50px 0 40px;
  padding: 0;
}

.fret-num li {
  float: left;
  font-size: 10px;
  text-align: center;
  width: 70px;
}

.fret-num li:first-child {
  width: 50px;
}

.fretboard .fret-num {
  margin-left: 14px;
}

.fretboard .fret-num li { width: 42px; }
